*{
    padding: opx;
    margin: opx;
}





.header h1{
   
    margin-left: 500px;
    margin-top: 30px;
}

.all{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    
}

.button1 button{
    background-color: rgb(71, 71, 239);
    color: white;
     width: 150px;   /* sets the width */
  height: 35px;
  border-radius: 20px;
  border: none;
    
}

.button2 button{
     background-color: rgb(49, 181, 199);
    color: white;
     width: 150px;   /* sets the width */
  height: 35px;
  border-radius: 20px;
  border: none;

}

.p p{
     margin-left: 480px;
    margin-top: 30px;
    font-size: 14px;
    font-style: italic;

}

.label{
    
     margin-left: 480px;
     margin-top: 30px;
}

.text input{
    border-radius: 5px;
    width: 170px;
    height: 15px;
    background-color: rgb(208, 210, 211);
}

.email input{
     border-radius: 5px;
    width: 170px;
    height: 15px;
    background-color: rgb(208, 210, 211);

}

.password input{
     border-radius: 5px;
    width: 170px;
    height: 15px;
    background-color: rgb(208, 210, 211);


}

.username input{
      border-radius: 5px;
    width: 170px;
    height: 15px;
    background-color: rgb(208, 210, 211);

}

.checkbox input {
     margin-left: 480px;
}

.button3 button{
     background-color: rgb(47, 49, 49);
    color: white;
     width: 150px;   /* sets the width */
  height: 35px;
  border-radius: 20px;
  border: none;
  margin-left: 480px;
  

}


